<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2" android:orientation="vertical" android:layout_width="match_parent" android:layout_height="match_parent">
    <ListView android:id="@+id/vi" android:visibility="gone" android:layout_width="match_parent" android:layout_height="match_parent"/>
    <com.tencent.mm.plugin.appbrand.widget.recyclerview.MRecyclerView android:id="@+id/vj" android:layout_width="match_parent" android:layout_height="match_parent"/>
</LinearLayout>
